/* Container for the entire grid */
.container {
  width: 85%; 
  margin: 0 auto;
  margin-bottom: 100px;
  margin-top: 300px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
}

/* Grid layout for the circles */
.circle-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px 20px; 
}

/* Circle shape for videos */
.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%; 
  overflow: hidden; 
  position: relative;
  border: 4px solid #de8435; /* accent color border */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
  transition: all 0.3s ease;
}

.circle::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: all 0.3s ease;
}

.circle:hover::before {
  background-color: rgba(255, 255, 255, 0.1); /* Frosted glass background color */
  backdrop-filter: blur(10px); /* Apply blur effect */
  -webkit-backdrop-filter: blur(10px); /* Safari */
}

.circle video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.3);
  background-color: transparent;
  z-index: 1;
}

.circle .title {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-family: 'Baloo 2', Sans-serif;
  color: white;
  background-color: transparent;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  z-index: 3;
}

.circle:hover .title {
  display: block;
}

@media (max-width: 768px) {
  .container {
    width: 87%; 
    padding: 0px;
    margin-bottom: 40px;
  }

  .circle {
    width: 100px;
    height: 100px;
  }
  
  .circle .title {
  font-size: 0.8em;
  }
}
