/* Social Icons Container Styling */
.social-icons {
  margin-top: 20px; /* Margin to the top */
  display: flex; /* Flexbox for alignment */
  justify-content: center; /* Center items horizontally */
  gap: 12px; /* Space between items */
}

/* Social Icon Image Styling in the footer */
.social-icon img {
  width: 30px; /* Width of the icon */
  height: 30px; /* Height of the icon */
  filter: invert(1); /* Invert colors for better visibility on dark backgrounds */
}

/* Hover State for Social Icon Image */
.social-icon:hover img {
  transform: scale(1.5); /* Scale up on hover */
  transition: transform 0.3s; /* Smooth transition */
}

/* Footer Styling */
footer {
  background-color: var(--primary-color); /* Background color */
  color: var(--text-color); /* Text color */
  text-align: center; /* Center text */
  padding: 10px 0; /* Padding inside the footer */
}

/* Footer Container Styling */
.footer {
  background-color: var(--primary-color); /* Background color */
  color: var(--text-color); /* Text color */
  padding: 20px 0; /* Padding inside the footer */
  text-align: center; /* Center text */
}

/* Footer Content Styling */
.footer-content {
  display: flex; /* Flexbox for alignment */
  flex-wrap: wrap; /* Wrap items */
  justify-content: space-between; /* Space between items */
  padding: 20px; /* Padding inside the footer */
  max-width: 1200px; /* Maximum width */
  margin: 0 auto; /* Center the content */
}

/* Footer Section Styling */
.footer-section {
  flex: 1; /* Flex grow */
  margin: 10px; /* Margin around the section */
}

/* Footer Section Heading Styling */
.footer-section h3 {
  margin-bottom: 15px; /* Margin to the bottom */
  color: var(--accent-color); /* Text color */
  text-decoration: underline;
  font-size: 1.1em;
}

/* Footer Section Paragraph and List Styling */
.footer-section p,
.footer-section ul {
  margin: 0; /* No margin */
}

/* Footer Section List Styling */
.footer-section ul {
  list-style: none; /* No list style */
  padding: 0; /* No padding */
}

/* Footer Section List Item Styling */
.footer-section ul li {
  margin-bottom: 10px; /* Margin to the bottom */
}

/* Footer Section List Item Anchor Styling */
.footer-section ul li a {
  font-family: 'futura-pt', sans-serif;
  color: var(--text-color); /* Text color */
  text-decoration: none; /* No underline */
  transition: color 0.3s ease; /* Smooth color transition */
}

/* Hover State for Footer Section List Item Anchor */
.footer-section ul li a:hover {
  color: var(--accent-color); /* Change text color to accent color */
  transition: color 0.3s ease; /* Smooth color transition */
}

/* Social Icons Anchor Styling */
.social-icons a {
  margin: 0 10px; /* Margin to the sides */
  transition: transform 0.3s ease; /* Smooth transform transition */
}

/* Footer Bottom Styling */
.footer-bottom {
  border-top: 1px solid var(--button-hover-color); /* Top border */
  padding: 10px 0; /* Padding inside the footer */
}

/* Back to Top Anchor Styling */
.back-to-top {
  color: var(--accent-color); /* Text color */
  font-family: 'futura-pt', sans-serif;
  text-decoration: none; /* No underline */
  transition: color 0.3s ease; /* Smooth color transition */
}

/* Hover State for Back to Top Anchor */
.back-to-top:hover {
  color: white; /* Change text color to white */
}