        .toggle-container {
            position: absolute;
            right: 0px;
            margin-top: 0px;
            width: 55px; /* Width adjusted to fit labels closely */
            height: 30px; /* Smaller height */
            background-color: transparent; /* Blue background */
            border-radius: 20px; /* Rounded corners */
            cursor: pointer;
            display: flex;
            align-items: center;
            margin-right: 30px;
            justify-content: space-between;
            padding: 2px; /* Reduced padding */
            transition: background-color 0.3s ease;
            border: 2px solid white; /* Slightly thinner border */
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Smaller shadow */
        }

        .toggle-ball {
            position: absolute;
            left: 3px;
            width: 20px; /* Smaller ball */
            height: 20px;
            background-color: white; /* White inner ball */
            border-radius: 50%;
            transition: transform 0.3s ease;
            box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Smaller shadow */
        }

        .toggle-container.active {
            background-color: #de8435; /* Darker background when active */
        }

        .toggle-container.active .toggle-ball {
            transform: translateX(27px); /* Shorter movement to fit the smaller container */
        }

        .toggle-label {
            z-index: 1; /* Ensure labels are above the ball */
            font-size: 12px; /* Smaller font size */
            color: white;
            padding: 0 5px; /* Reduced padding for labels */
        }


.toggle-container:hover .toggle-label:first-child {
}

/* Media Query for Screens Narrower than 720px */
@media screen and (max-width: 800px) {
        .toggle-container {
            position: flex;
            left: 5px;
            width: 55px; /* Width adjusted to fit labels closely */
            height: 30px; /* Smaller height */
            background-color: transparent; /* Blue background */
            border-radius: 20px; /* Rounded corners */
            cursor: pointer;
            display: flex;
            align-items: center;
          margin-left: 20px;
            justify-content: space-between;
            padding: 2px; /* Reduced padding */
            transition: background-color 0.3s ease;
            border: 2px solid white; /* Slightly thinner border */
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Smaller shadow */
        }
 @media screen and (min-width: 801px) {
   
    
.toggle-container:hover 
   {background-color: rgba(255, 255, 255, 0.5); /* Transparent white background on hover */
}
}

